.fixed{
    bottom: 0%;
    left: 0%;
    z-index:99999;
}

.whatsapp-icon{
    height: 80px;
    width: 80px;
}

@media screen and (max-width:500px) {
    .whatsapp-icon{
        height: 60px;
        width: 60px;
    }
}