.sellCar{
    display: flex !important;
    min-height: fit-content;
}

.sell-div-1{
    background-color: whitesmoke;
    width: 50%;
}

.sell-head{
    text-transform: uppercase;
    font-weight: 700;
}

.sell-img{
    width: 100%;
}

.sell-img img{
    width: 100%;
}

.sell-icon{
    transform: scale(1.4);
    border: 2px solid black;
    border-radius: 5px;
}

.sell-btn{
    border-radius: 10px;
    color: white;
    border: 2px solid black;
}

.sell-app{
    background-color: #25D366;
}
.sell-call{
    background-color: #242424;
}

/* ----------div 2---------- */

.sell-div-2{
    width: 50%;
    background-color: whitesmoke;
}

.sell-div-2-inner{
    background-color: #D8D9DA;
    border-radius: 20px;
    padding: 20px;
}

.sell2-top h2{
    color: black ;
}

@media screen and (max-width: 800px) {
    .sellCar{
        flex-direction: column;
    }
    .sell-div-1{
        width: 100%;
    }
    .sell-div-2{
        width: 100%;
        background-color: #D8D9DA;
    }
    .sell-div-2-inner{
        padding: 0px;
    }
}
